/target
/out
/test/resources/data/all/
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/.clj-kondo/.cache

# IDEs
/.idea
/.calva

# native image builds
/onecli-0.6.0-SNAPSHOT-standalone

# Editor save files
.*.sw[a-z]
*~
.*#
.#*
\#*

