/target
/out
/test/resources/data/all/
/classes
/checkouts
profiles.clj
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/.clj-kondo/.cache
/pom.xml

# IDEs
/.idea
/.calva


# LSP
.lsp/sqlite.db

# native image builds
/onecli-0.6.0-SNAPSHOT-standalone

# deps.edn
/.cpcache/

# Editor save files
.*.sw[a-z]
*~
.*#
.#*
\#*

